/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    font-family:'Bree Serif',serif;
}

#testoAlternato {
    font-size: 1.5em;
    padding: 1em;
    margin: 1em;
    border: 3px solid gray;
}

.parole {
    color: #6a889c;
    position: relative;
}

@keyframes fadeOut {
    0%{
        opacity: 0;
        transform: translateY(-70px);
    }
    
    30% {
        opacity: 1;
        transform: translateY(-30px);
    }
    
    60%{
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(70px);
        display: none;
    }
}
.parole i {
    opacity: 0;
    position: absolute;
    left: 5px;
    animation: fadeOut 5s linear infinite;
}

#word1 {
    animation-delay: 0s;
}
#word2 {
    animation-delay: 5s;
}
#word3 {
    animation-delay: 10s;
}